.container
  position: relative
  padding: 6px 16px
  border: 1px solid transparent
  border-radius: 6px

  &:disabled
    pointer-events: none

.loader
  display: none
  position: absolute
  top: 6px
  left: calc(50% - 12px)
  transform: translateX(-18px)
  font-size: 7px

.primary
  background-color: $cblue
  color: $cwhite

  &:focus
    border-color: $cblueblack

  &:disabled
    background-color: $cblack3

.secondary
  border-color: $cblack
  background-color: $cwhite
  color: $cblack

  &:focus
    border-color: $cblue

  &:disabled
    color: $cblack3
    border-color: $cblack3
    background-color: transparent

.is-fetching
  pointer-events: none

  .loader
    display: block

  .children
    visibility: hidden
