.loader-wrap
  display: flex
  flex-grow: 1
  justify-content: center
  align-items: center

.progress
  position: absolute
  top: 0
  left: 0
  right: 0

.wrap
  padding: 16px 10px 24px

.settings-item
  margin-bottom: 20px
