.progress
  position: absolute
  top: 0
  left: 0
  right: 0

.title
  margin-bottom: 16px
  +sb-11-16-i

.wrap
  padding: 16px 10px 24px

.settings-item
  margin-bottom: 20px

.mention
  margin-top: 16px
  text-align: center

.is-sync.container
  pointer-events: none
